@{
    ViewBag.Title = "Home Page";
}

    @Scripts.Render("~/bundles/Recognition")

<div id="container">
    <div class="select">
        <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <video id="video" width="500" height="375" playsinline autoplay></video>
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-5">
            <div style="position: relative">
                <img id="img" src="" style="position: absolute; vertical-align: unset;">
                <canvas id="canvas-face-rect" width="500" height="375" style="background: rgba(255, 255, 255, 0); position: absolute; border: 1px solid #d3d3d3;"></canvas>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-2">
            <button id="button" onclick="Recognize()">Recognize</button>
        </div>
        <div class="col-sm-10">
        </div>
    </div>
    
    @*Canvas for creating img src*@
    <canvas id="canvas" width="500" height="375" style="display: none;"></canvas>

    <div class="row">
        <div class="col-sm-12">

            <hr />
            <h2>Analyzis</h2>

            <div id="result"></div>

            <a href="https://github.com/webrtc/samples/tree/gh-pages/src/content/devices/input-output" title="View source for this page on GitHub" id="viewSource">View source on GitHub</a>
        </div>
    </div>

</div>

@Scripts.RenderFormat(@"<script src="" {0}"" async></script>", "~/bundles/main")
